.product-card {
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    background-color: white;
}

.num-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-num {
    width: 100%;
    margin-bottom: 20px;
}

.pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: contain;

    border: 5px solid black;
}

.name-caracte {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.pokemon-name {
    margin-bottom: 20px;
}

.pokemon-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    text-align: left;
    color: black;
}

.pokemon-data p {
    width: 100%;
    margin: 0;
}
